.nav-container {
  flex: 0 0 80px;
}

nav {
  width: 80px;
  height: 100%;
  position: fixed;

  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 2;
}

@media screen and (max-width: 1090px) {
  .nav-container {
    flex: 0px;
  }

  nav {
    bottom: 0px;
    height: 80px;
    width: 100%;
    padding: 0 100px;
    flex-direction: row;
    justify-content: space-between;
  }
}

nav a {
  text-decoration: none;
  color: #0008fc;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

nav a:not(:last-child) {
  margin-bottom: 20px;
}
