* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

main {
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

.Msrt {
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: 700;
}

.t24 {
  font-size: 24px;
}
